*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fec7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background: #a786df;
    padding: 20px 40px;
}