*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(254, 199, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn {
    background: #a786df;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: -4px 8px 38px -3px rgba(222, 162, 179, 0.75);
    -webkit-box-shadow: -4px 8px 38px -3px rgba(222, 162, 179, 0.75);
    -moz-box-shadow: -4px 8px 38px -3px rgba(222, 162, 179, 0.75);
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background: red;
    top: var(--xPosition);
    left: var(--yPosition);
    transform: translate(-50%, -50%);
    /* width: 20px;
    height: 20px; */
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}